:root {
    --blue: #24507F;
    --navy: #122840;
    --green: #A2BF53;
    --white: #f9f9f9;
    --border: 1px solid white;
    --margin: clamp(0.25rem, 5vmin, 5vmax);
    font-family: sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}

* {
    box-sizing: inherit;
}

html {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    padding: var(--margin);
}

body {
    color-scheme: light dark;
    position: relative;
    align-items: center;
    height: 100%;
    background: var(--green);
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: grid;
    border: var(--border);
    box-sizing: border-box;
    grid-template-areas:
        "header "
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎾</text></svg>") 16 0,auto;

    @media (prefers-color-scheme: dark) {
        background-color: var(--navy);
        color: var(--green);
    }
    font-size: 1.125rem;
}

header {
    grid-area: header;
    border-block-end:  var(--border);
}

header a {
    text-decoration: inherit;
    color: inherit;
}

main {
    grid-area: main;
    position: relative;
    align-content: center;
    height: 100%;
}

main:before,
main:after {
    content: '';
    position: absolute;
    display: block;
    opacity: 0.33;
    z-index: -1;
}

.page-home main:before,
.page-home main:after {
    opacity: 1;
}

main:before {
    border-block-start: var(--border);
    top: 50%;
    inset-inline-start: 0;
    inset-inline-end: 0;
}

main:after {
    border-inline-start: var(--border);
    left: 50%;
    top: 0;
    bottom: 0;
    min-height: 100%;
}

.page-home main:before {
    z-index: 100;
    /* border-block-start-width: calc(3 *var(--border)); */
}

footer {
    grid-area: footer;
    border-block-start:  var(--border);
}

header,
footer {
    /* padding-block: var(--margin); */
    text-transform: uppercase;
}

h1 {
    text-transform: uppercase;
    font-size: clamp(2rem, calc(3vh + 3vw), 5rem);
    font-family: "new-spirit-condensed", serif;
}

a {
    cursor: pointer;
}

table {
    font-family: sans-serif;
}

.court-details {
    display: block;
    margin-inline: auto;
    max-width: 1200px;
}

.court-details tbody {
    display: flex;
    gap: 1em;
    justify-content: center;
    width: 100%;
    flex-flow: wrap;
}

.court-details tr {
    display: flex;
    flex-direction: column;
}

.court-details td {
    display: block;
}

.court-details td:nth-of-type(2) {
    order: 1;
    font-size: 1.5em;
}

.court-details td:nth-of-type(1) {
    order: 2;
}

/* .court-details-stat {
    font-size: 2em;
    font-family: "new-spirit-condensed", serif;
} */

table a {
    color: inherit;
}

.court-info {
}

.main-page-courts {
    font-family: sans-serif;
}

.line-wrap {
    max-width: 100%;
    margin-inline: var(--margin);
    border-inline: var(--border);
    padding: var(--margin);
    height: 100%;
    align-content: center;
}

main {
    overflow: hidden;
}